./docker-with-pg/frontend/node_modules
./docker-with-pg/frontend/build/*
./docker-with-pg/backend/node_modules
./docker-with-pg/backend/build/*
./docker-factorial/node_modules
./docker-factorial/build/*
